body {
  margin: 0;
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CAF0F0;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

.text-primary {
  color: #008083;
}
.text-white {
  color: #fff;
}
.text-secondry {
  color: #BEF5F2;
}
.bg-primary {
  background-color: #008083;
}


.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}